img {
    width: 40%;
    margin: auto;
    display: block;
}

p {
    font-variant: small-caps;
    font-family: Arial;
    font-size: 120%;
}

figcaption {
    color: white;
    text-align: center;
    font-variant: small-caps;
    font-family: Arial;
}

span {
    color: white;
    background-color: #2565AE;
}

h1 {
    color: white;
    font-variant: small-caps;
    font-family: Arial;
    text-align: center;
    background-color: #2565AE;
}

h3 {
    color: white;
    font-variant: small-caps;
    font-family: Arial;
    text-align: center;
    background-color: #2565AE;
}

a {
    color: white;
}

nav {
    background-color: #198450;
    font-size: 160%;
    font-variant: small-caps;
    font-family: Arial;
    text-align: center;
}

ol {
    font-variant: small-caps;
    text-align: center;
}
